force-app/main/default/flows/Conversation_Outbound_Call_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Service</name>
        <label>Call_Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CALLEXTERNALSERVICE.CALL_METHOD</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Conversation_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Call_Data</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CALLEXTERNALSERVICE.CALL_METHOD</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Call_Paramters</name>
        <label>Assign Call Paramters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Call_Data.agentx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent__r.Agent_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Data.agentx5fphonex5fnumberx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent__r.Phone_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Data.tox5fnumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Data.conversationx5finitiationx5fclientx5fdata.dynamicx5fvariables.customerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Data.conversationx5finitiationx5fclientx5fdata.dynamicx5fvariables.customerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Data.conversationx5finitiationx5fclientx5fdata.dynamicx5fvariables.customerAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Street_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Call_Data.conversationx5finitiationx5fclientx5fdata.dynamicx5fvariables.scheduledDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Service</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Agent_Available</name>
        <label>Check Agent Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAgentAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Call_Paramters</targetReference>
            </connector>
            <label>isAgentAvailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conversation - Call Triggering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation - Outbound Call Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Conversation_Id</name>
        <label>Update Conversation Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Call_Outcome__c</field>
            <value>
                <stringValue>Awaiting Outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversation_Id__c</field>
            <value>
                <elementReference>Call_Service.2XX.conversationx5fid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Conversation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Agent_Available</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Call_Data</name>
        <apexClass>ExternalService__CALLEXTERNALSERVICE_CALLx5fMETHOD_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
