force-app/main/default/flows/Service_Appointment_1_PM_Voice_Anything_Conversation_Record_Process_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Engineer_Contact</name>
        <label>Assign Engineer Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactMatchCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mobile</name>
        <label>Assign Mobile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone</name>
        <label>Assign Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Manager</name>
        <label>Assign Property Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactMatchCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Residential_Manager_Contact</name>
        <label>Assign Residential Manager Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactMatchCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Super_Contact</name>
        <label>Assign Super Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactMatchCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Conversation_Record_Values</name>
        <label>Map Conversation Record Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varConversation.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Appointment_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Voicemail_Allowed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Customer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Customer_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConversation.Customer_Street_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerStreetCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Conversation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Stamped</name>
        <label>Account Stamped</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE - Stamped</defaultConnectorLabel>
        <rules>
            <name>TRUE_Stamped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>TRUE - Stamped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Contact_Phone</name>
        <label>Assign Contact Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check Phone</defaultConnectorLabel>
        <rules>
            <name>Check_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mobile</targetReference>
            </connector>
            <label>Check Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Appointment_Is_In_Future</name>
        <label>Check Appointment Is In Future</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Parent_Is_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TRUE - Execute</defaultConnectorLabel>
        <rules>
            <name>FALSE_In_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varScheduledDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_3</targetReference>
            </connector>
            <label>FALSE- In Future</label>
        </rules>
        <rules>
            <name>FALSE_Status_Not_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_4</targetReference>
            </connector>
            <label>FALSE - Status Not Scheduled</label>
        </rules>
        <rules>
            <name>Appointment_is_already_confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Customer_Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_6</targetReference>
            </connector>
            <label>Appointment is already confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Found</name>
        <label>Check Contact Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE - Found</defaultConnectorLabel>
        <rules>
            <name>TRUE_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Phone</targetReference>
            </connector>
            <label>TRUE - Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Title</name>
        <label>Check Contact Title</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Super</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Contacts.Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Super</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactMatchCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Super_Contact</targetReference>
            </connector>
            <label>TRUE - Super</label>
        </rules>
        <rules>
            <name>TRUE_Engineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Contacts.Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Engineer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactMatchCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engineer_Contact</targetReference>
            </connector>
            <label>TRUE - Engineer</label>
        </rules>
        <rules>
            <name>TRUE_Residential_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Contacts.Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Resident Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactMatchCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Residential_Manager_Contact</targetReference>
            </connector>
            <label>TRUE - Residential Manager</label>
        </rules>
        <rules>
            <name>True_Property_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Contacts.Title__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Property Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactMatchCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Property_Manager</targetReference>
            </connector>
            <label>True - Property Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Contact_Found</name>
        <label>Check If Contact Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE - Not Found</defaultConnectorLabel>
        <rules>
            <name>TRUE_Contact_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Contacts</targetReference>
            </connector>
            <label>TRUE - Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Is_Work_Order</name>
        <label>Check Parent Is Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE - Work Order</defaultConnectorLabel>
        <rules>
            <name>TRUE_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.ParentRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>TRUE - Work Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varConversationRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_650}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_650})) &amp; {!Get_Conversation.Id}</expression>
    </formulas>
    <formulas>
        <name>varCustomerAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.BillingStreet} &amp;&quot; &quot;&amp;{!Get_Account.BillingCity}&amp;&quot; &quot;&amp;{!Get_Account.BillingState}&amp;&quot; &quot;&amp;{!Get_Account.BillingCountry}&amp;&quot; &quot;&amp;{!Get_Account.BillingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>varCustomerStreetCity</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.BillingStreet} &amp;&quot; &quot;&amp;{!Get_Account.BillingCity}</expression>
    </formulas>
    <formulas>
        <name>varScheduledDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Service_Appointment.SchedStartTime})</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service Appointment 1 PM - Voice Anything Conversation Record Process Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Voice Anything Conversation Record Process Screen Flow</label>
    <loops>
        <name>Iterate_Contacts</name>
        <label>Iterate Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Title</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conversation</name>
        <label>Create Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation</targetReference>
        </connector>
        <inputReference>varConversation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent</name>
        <label>Get Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Map_Conversation_Record_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.X11Labs_Agent_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the conversation record created</description>
        <name>Get_Conversation</name>
        <label>Get Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varConversation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contacts under account with title as Super, Engineer, Residential Manager, Property Manager</description>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contact_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 6) AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Super</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resident Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engineer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Parent_Account1__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Is_In_Future</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Stamped</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Appointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen_1</name>
        <label>Error Screen 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Service Appointment is not attached to a work order. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The attached work order does not have an account selected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_3</name>
        <label>Error Screen 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Service Appointment does not qualify for a Call Confirmation - as the scheduled date is in past. You can create conversation only for today or future scheduled appointments.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Scheduled Start Time {!varScheduledDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Today&apos;s date {!varToday}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_4</name>
        <label>Error Screen 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_ErrorMessage1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Service Appointment does not qualify for a Call Confirmation - as the status is not Scheduled.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_5</name>
        <label>Error Screen 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The account - &quot;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.Name}&quot; &lt;/strong&gt;&lt;strong&gt;stamped on the work order doesn&apos;t have any related contact with title &quot;Super, Resident, Property Manager or Engineer&quot;.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact Title = {!varContact.Title} &amp;lt;&amp;lt;--- if nothing here - is not finding contacts related to parent accounts&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_6</name>
        <label>Error Screen 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SA_Already_confimed</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This Service Appointment is already confirmed.  If you need to confirm again, please uncheck appointment confirmed.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Service_Appointment.Customer_Availability__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your conversation record is created.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Click &lt;/strong&gt;&lt;a href=&quot;{!varConversationRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;{!Get_Conversation.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; to navigate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the service appointment Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactMatchCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varConversation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conversation__c</objectType>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
